	
	select distinct pr.KodePromo, pr.NamaPromo, pr.TanggalAwal, pr.TanggalAkhir, pr.KuotaPromo, pr.MemberOnly, pr.Status,
		a.OLD_MAT_NO, QtyBarangUtama,
		pr.PotonganVPR, pr.JenisNilai, pr.Monday, pr.Tuesday, pr.Wednesday, pr.Thursday,
		pr.Friday, pr.Saturday, pr.Sunday, pr.LimitByCustomer, LongDesc1, LongDesc2, LongDesc3, LongDesc4, LongDesc5
	from
		SAP_ARTICLE a
		inner join (
			select distinct p.KodePromo, p.NamaPromo,
				convert(varchar(25), p.TanggalAwal, 120) TanggalAwal, convert(varchar(25), p.TanggalAkhir, 120) TanggalAkhir,
				p.JumlahPromo KuotaPromo, p.MemberOnly,  p.Status, pbu.KodeBarang KodeBarangUtama, pbu.Jumlah QtyBarangUtama,
				pph.Jumlah PotonganVPR, pph.JenisNilai, p.Monday, p.Tuesday, p.Wednesday, p.Thursday, p.Friday,
				p.Saturday, p.Sunday, p.LimitByCustomer, LongDesc1, LongDesc2, LongDesc3, LongDesc4, LongDesc5
			from 
				PR_MasterPromo p
				INNER JOIN PR_MasterPromoDetailPotonganHarga pph ON p.KodePromo=pph.KodePromo
				INNER JOIN PR_MasterPromoDetailBarangUtama pbu ON p.KodePromo=pbu.KodePromo AND pbu.KodeBarang!='' AND pbu.Jumlah=1
				LEFT OUTER JOIN t_SAP_PromoServToMyHartonoPotHarga tPH ON P.KodePromo=tPH.KodePromo AND pbu.KodeBarang=tPH.KodeBarang AND tPH.Status=p.Status AND tPH.Timestamp > coalesce(p.modifiedOn, p.createdOn)
			where (p.KodePromo NOT IN (SELECT KodePromo FROM dbo.PR_MasterPromoDetailBarangFree 
						WHERE (JenisNilai = 'IDR') OR ((JenisNilai = '%') AND (PotonganVPR <> 100))))
				AND p.CustType!='ZC03'
				AND isnull(p.Wednesday,'')=''
				--AND p.KodePromo LIKE '%'+@KodePromo+'%'
				AND GETDATE()>=p.TanggalAwal
				AND DATEADD(dd, -1, GETDATE())<=p.TanggalAkhir
				AND tPH.KodePromo IS NULL
				AND GETDATE()>= case 
						when p.ModifiedOn is null then getdate()
						when p.CreatedOn <= p.ModifiedOn then P.ModifiedOn
					end
				AND (DATEADD(dd, -1, GETDATE())<=case 
						when p.ModifiedOn is null then getdate()
						when p.CreatedOn <= p.ModifiedOn then P.ModifiedOn
					end 
					OR p.TanggalAwal >= case 
						when p.ModifiedOn is null then getdate()
						when p.CreatedOn <= p.ModifiedOn then P.ModifiedOn
					end)
				--AND YEAR(p.TanggalAwal) = YEAR(getdate())
		) pr on a.OLD_MAT_NO=pr.KodeBarangUtama
			and a.old_mat_no in (
			--'RT25FARBDSA',
			--'RT22FARBDB1',
			--'RT25FARBDB1',
			--'RT31CG5420B1',
			--'RT35CG5420B1',
			--'RT38CG6420S9',
			--'RT38CG6420B1',
			--'RT42CG6420B1',
			--'RT47CG6422B1',
			--'RH64A53F1B4',
			--'RS62T5F01B4',
			--'RF48A4010B4',
			--'RF65DB90B012SE',
			--'AQR-DTM305RAV(MX)',
			--'AQR-415IM(BK)',
			--'AQR-350RBM(BK)',
			--'AQR-VTM515RBC(CB)',
			'AQF-550EC'
			)
	where 
		a.Article_Type not in ('ZGIF','ZPAY','ZSET','ZSTC')
		and a.material not in (select material from SAP_ARTICLE 
								where Article_Type='DIEN' 
									and Pur_Group in ('M16', 'N01', 'N02', 'N03', 'N04'))
		and a.DISCNTIN_IDC=0
		and a.MATERIAL not in (select distinct Article from SAP_ArticleHistory where FieldName='MSTAE' and NewValue!='')
	order by kodepromo desc