USE [Hartono]
GO
/****** Object:  StoredProcedure [dbo].[MyH_PInsertNewPromoToMyHartono]    Script Date: 12/03/2023 20.45.05 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


-- =============================================
-- Created By		: Soni Gunawan
-- Created Date		: 10.3.23
-- Description		: Get ActivePromo for MyHartono, Insert or update 
-- =============================================
-- exec MyH_PInsertNewPromoToMyHartono 'HE'
ALTER PROCEDURE [dbo].[MyH_PInsertNewPromoToMyHartono]
	@jenis		varchar(50) ='HE'
AS
BEGIN
	set dateformat dmy;
	SET NOCOUNT ON;
	
	select distinct pr.KodePromo, 
		(case when @jenis='HM' then a.OLD_MAT_NO+'-[HM]' else a.OLD_MAT_NO end) KodeBarangUtama,
		--a.OLD_MAT_NO KodeBarangUtama,
		pr.NamaPromo, pr.TanggalAwal, pr.TanggalAkhir, pr.KuotaPromo, pr.MemberOnly, pr.Status AS StatusPromo,	
		pr.LimitByCustomer, QtyBarangUtama, pr.PotonganVPR, pr.JenisNilai, pr.Sunday, pr.Monday, pr.Tuesday, pr.Wednesday, 
		pr.Thursday, pr.Friday, pr.Saturday, LongDesc1, LongDesc2, LongDesc3, LongDesc4, LongDesc5
	INTO #NewPromo
	from
		SAP_ARTICLE a
		inner join (
			select distinct p.KodePromo, p.NamaPromo,
				convert(varchar(25), p.TanggalAwal, 120) TanggalAwal, convert(varchar(25), p.TanggalAkhir, 120) TanggalAkhir,
				p.JumlahPromo KuotaPromo, p.MemberOnly,  p.Status, pbu.KodeBarang KodeBarangUtama, pbu.Jumlah QtyBarangUtama,
				pph.Jumlah PotonganVPR, pph.JenisNilai, p.Monday, p.Tuesday, p.Wednesday, p.Thursday, p.Friday,
				p.Saturday, p.Sunday, p.LimitByCustomer, LongDesc1, LongDesc2, LongDesc3, LongDesc4, LongDesc5
			from 
				PR_MasterPromo p,
				PR_MasterPromoDetailPotonganHarga pph,
				PR_MasterPromoDetailBarangUtama pbu
			where 
				(p.KodePromo NOT IN (SELECT KodePromo FROM dbo.PR_MasterPromoDetailBarangFree 
						WHERE (JenisNilai = 'IDR') OR ((JenisNilai = '%') AND (PotonganVPR <> 100))))
				and p.KodePromo=pbu.KodePromo
				and p.CustType!='ZC03'
				and p.KodePromo=pph.KodePromo
				and isnull(p.Wednesday,'')=''
				and pbu.KodeBarang!=''
				and pbu.Jumlah=1
				and p.Created + minute(15) >= getdate()
		) pr on a.OLD_MAT_NO=pr.KodeBarangUtama
	where 
		a.Article_Type not in ('ZGIF','ZPAY','ZSET','ZSTC')
		and a.material not in (select material from SAP_ARTICLE 
								where Article_Type='DIEN' 
									and Pur_Group in ('M16', 'M18', 'N01', 'N02', 'N03', 'N04'))
		and a.DISCNTIN_IDC=0
		and a.MATERIAL not in (select distinct Article from SAP_ArticleHistory where FieldName='MSTAE' and NewValue!='')

	-- Start Backup Promo
	INSERT INTO h_SAP_PromoPOStoMyHartono
	SELECT *, getdate()
	FROM s_SAP_PromoPOStoMyHartono
	WHERE KodePromo+KodeBarangUtama+TanggalAwal IN (SELECT KodePromo+KodeBarangUtama+TanggalAwal FROM #NewPromo)

	INSERT INTO h_SAP_PromoPOStoMyHartono_Store
	SELECT *, getdate()
	FROM s_SAP_PromoPOStoMyHartono_Store
	WHERE KodePromo+KodeBarangUtama+TanggalAwal IN (SELECT KodePromo+KodeBarangUtama+TanggalAwal FROM #NewPromo)

	INSERT INTO h_SAP_PromoPOStoMyHartono_JenisBayar
	SELECT *, getdate()
	FROM s_SAP_PromoPOStoMyHartono_JenisBayar
	WHERE KodePromo+KodeBarangUtama+TanggalAwal IN (SELECT KodePromo+KodeBarangUtama+TanggalAwal FROM #NewPromo)

	INSERT INTO h_SAP_PromoPOStoMyHartono_Free
	SELECT *, getdate()
	FROM s_SAP_PromoPOStoMyHartono_Free
	WHERE KodePromo+KodeBarangUtama+TanggalAwal IN (SELECT KodePromo+KodeBarangUtama+TanggalAwal FROM #NewPromo)
	-- End Backup Promo


	-- Clear Promo
	DELETE s_SAP_PromoPOStoMyHartono 
	WHERE KodePromo+KodeBarangUtama+TanggalAwal IN (SELECT KodePromo+KodeBarangUtama+TanggalAwal FROM #NewPromo)
	DELETE s_SAP_PromoPOStoMyHartono_Store
	WHERE KodePromo+KodeBarangUtama+TanggalAwal IN (SELECT KodePromo+KodeBarangUtama+TanggalAwal FROM #NewPromo)
	DELETE s_SAP_PromoPOStoMyHartono_JenisBayar
	WHERE KodePromo+KodeBarangUtama+TanggalAwal IN (SELECT KodePromo+KodeBarangUtama+TanggalAwal FROM #NewPromo)
	DELETE s_SAP_PromoPOStoMyHartono_Free
	WHERE KodePromo+KodeBarangUtama+TanggalAwal IN (SELECT KodePromo+KodeBarangUtama+TanggalAwal FROM #NewPromo)
	-- Clear Promo

	-- Insert Promo yg akan di send ke MyHartono
	--INSERT INTO 
	declare e cursor fast_forward for
	--SELECT distinct *, 0, getdate(), null, null, null, null, null 
	SELECT KodePromo, KodeBarangUtama, NamaPromo, TanggalAwal, TanggalAkhir, KuotaPromo, MemberOnly, StatusPromo,	
		LimitByCustomer, QtyBarangUtama, PotonganVPR, JenisNilai, Sunday, Monday, Tuesday, Wednesday, 
		Thursday, Friday, Saturday, LongDesc1, LongDesc2, LongDesc3, LongDesc4, LongDesc5	
	FROM #NewPromo

	open e
	fetch next from e into @KodePromo, @KodeBarangUtama, @NamaPromo, @TanggalAwal, @TanggalAkhir, @KuotaPromo, @MemberOnly, @StatusPromo, @LimitByCustomer, @QtyBarangUtama, @PotonganVPR, @JenisNilai, @Sunday, @Monday, @Tuesday, @Wednesday, @Thursday, @Friday, @Saturday, @LongDesc1, @LongDesc2, @LongDesc3, @LongDesc4, @LongDesc5
	while (@@fetch_status = 0)
	begin
		IF NOT EXISTS(SELECT KodePromo from s_SAP_PromoPOStoMyHartono where KodePromo = @KodePromo AND KodeBarangUtama=@KodeBarangUtama AND TanggalAwal=@TanggalAwal)
		BEGIN

		END
		ELSE
		BEGIN

		END
		
		fetch next from e into @KodePromo, @KodeBarangUtama, @NamaPromo, @TanggalAwal, @TanggalAkhir, @KuotaPromo, @MemberOnly, @StatusPromo, @LimitByCustomer, @QtyBarangUtama, @PotonganVPR, @JenisNilai, @Sunday, @Monday, @Tuesday, @Wednesday, @Thursday, @Friday, @Saturday, @LongDesc1, @LongDesc2, @LongDesc3, @LongDesc4, @LongDesc5
	end
	close e
	deallocate e

	SELECT distinct *, 0, getdate(), null, null, null, null, null 
	FROM #NewPromo
	----
	INSERT INTO s_SAP_PromoPOStoMyHartono_Store
	SELECT DISTINCT A.KodePromo, A.KodeBarangUtama, A.TanggalAwal, B.KodeStore FROM #NewPromo A, PH_MasterPromoDetailStore B
	WHERE A.KodePromo = B.KodePromo
	----
	SELECT DISTINCT 
		NP.KodePromo,
		CASE
			WHEN b.KodeKategoriPembayaran IS NULL OR b.KodeKategoriPembayaran = '' THEN a.KodeJenisPembayaran
			ELSE b.KodeKategoriPembayaran
		END as 'KodeJenisPembayaran'
	INTO #PromoTipeBayar
	FROM 
		PR_MasterPromoDetailJenisPembayaran a
		INNER JOIN #NewPromo NP ON A.KodePromo2=NP.KodePromo
		LEFT JOIN CH_MasterJenisPembayaran b ON a.KodeJenisPembayaran = b.KodeJenisPembayaran

	INSERT INTO s_SAP_PromoPOStoMyHartono_JenisBayar
	SELECT 
		A.*,
		B.NamaJenisPembayaran
	FROM #PromoTipeBayar A
		INNER JOIN MasterJenisPembayaran B ON A.KodeJenisPembayaran=B.KodeJenisPembayaran
	UNION
	SELECT 
		A.*,
		B.NamaKategoriPembayaran AS NamaJenisPembayaran
	FROM #PromoTipeBayar A
		INNER JOIN CH_MasterKategoriPembazyaran B ON A.KodeJenisPembayaran=B.KodeKategoriPembayaran
	-- Free
	INSERT INTO s_SAP_PromoPOStoMyHartono_Free
	SELECT A.KodePromo, A.KodeBarangUtama, A.TanggalAwal, B.KodeBarangFree, B.JumlahBarangFree,
				B.PotonganVPR, B.JenisNilai, A.Status
	FROM #NewPromo A, PR_MasterPromoDetailBarangFree B
	WHERE A.KodePromo=B.KodePromo
		AND A.KodeBarangUtama=B.KodeBarangUtama
	-- Insert Promo yg akan di send ke MyHartono

END
