USE [Hartono]
GO
/****** Object:  StoredProcedure [dbo].[PInsertNoVoucherHANS2_Backup]    Script Date: 01/04/2023 23.00.10 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


-- =============================================
-- Author:		|Melita|
-- Create date: |07/02/2023|
-- Description: |Insert No Voucher HANS to SD_MasterVoucher|
-- Project:		|Promo Hans|
-- =============================================

ALTER PROCEDURE [dbo].[PInsertNoVoucherHANS2_Backup]
	@NoSO			varchar(50),
	@NamaPromo		varchar(50),
	@NoVoucher		varchar(50),
	@NoMember		varchar(50)
AS
BEGIN

	declare @SubTotalBeli numeric(18,2), @KodeBarang varchar(50), @KodeGudang varchar(10), 
		@HargaBawah numeric(18,2), @sisaQuota int, @nourut int
	DECLARE @NilaiVoucher numeric(18,2), @NamaTier varchar(50), @ValidFrom datetime, @ValidTo datetime

	select top 1 @SubTotalBeli = subtotalharga, @KodeBarang = kodebarang, @KodeGudang = KodeGudang
	from [192.168.21.100\SQLPOS].hartono.dbo.trxsodetail
	where noso = @NoSO
	order by subtotalharga desc

	select TOP 1 @HargaBawah = sha.hargamin
	from S_promoTierDetailTier tdr --on tdr.PromoID = th.PromoID
	inner join SD_SyaratHargaArticle sha on sha.tier = tdr.tier
	WHERE tdr.PromoID = @NamaPromo and tdr.tier LIKE 'HANSDISC%' and dbo.getonlydate(getdate()) between tdr.ValidFrom and tdr.ValidTo
	ORDER BY tdr.tier asc

	--select @sisaQuota,@HargaBawah,@nourut 

	IF @SubTotalBeli < @HargaBawah
		SELECT 'Nominal Harga Barang < 2 juta Rupiah'
	ELSE
		select @sisaQuota = (tdr.Quota - sum(mv.terpakai)), @nourut = tdr.urut
		from S_promoTierDetailTier tdr --on tdr.PromoID = th.PromoID
		inner join SD_SyaratHargaArticle sha on sha.tier = tdr.tier
		left join SD_MasterVoucher mv on mv.tier = tdr.tier
		WHERE tdr.PromoID = @NamaPromo and tdr.tier LIKE 'HANSDISC%' and dbo.getonlydate(getdate()) between tdr.ValidFrom and tdr.ValidTo and @SubTotalBeli between sha.hargamin and sha.hargamax
		group by mv.tier, tdr.PromoID, tdr.Quota, sha.hargamin, tdr.urut

		IF @sisaQuota <= 0
			SELECT 'Kuota Promo Tidak Tersedia'
		ELSE			
		BEGIN

			select @nilaivoucher =  case 
										when @SubTotalBeli*0.1 > 600000
											then 600000
										else @SubTotalBeli*0.1
									end, 
					@NamaTier = tdr.Tier, @ValidFrom = tdr.ValidFrom, @ValidTo = tdr.ValidTo
			from S_promoTierDetailTier tdr --on tdr.PromoID = th.PromoID
			inner join SD_SyaratHargaArticle sha on sha.tier = tdr.tier
			left join SD_MasterVoucher mv on mv.tier = tdr.tier
			WHERE tdr.PromoID = @NamaPromo and tdr.tier LIKE 'HANSDISC%' and dbo.getonlydate(getdate()) between tdr.ValidFrom and tdr.ValidTo and @SubTotalBeli between sha.hargamin and sha.hargamax
				
			INSERT INTO SD_MasterVoucher (NoVoucher, Nominal, Tier, ValidFrom, ValidTo, StatusKlaim, Terpakai, JenisPromo, JenisVoucher)
			VALUES (@NoVoucher, @NilaiVoucher, @NamaTier, @ValidFrom, @ValidTo, 1, 0, 'Promo Hans', 'Category')

			INSERT INTO SD_DetailPakaiVoucher (NoMember, NoVoucher, JenisVoucher, TanggalKlaim, KodeBarang, KodeGudang, Status)
			VALUES (@NoMember, @NoVoucher, 'Category', getdate(), @KodeBarang, @KodeGudang, 0)

			SELECT 'Nilai Voucher-' + CAST(@NilaiVoucher as varchar)
		END
			

END
