USE [Hartono]
GO
/****** Object:  StoredProcedure [dbo].[SD_PSaveReservation]    Script Date: 10/25/2023 16:19:19 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Create By	: Soni Gunawan
-- Create Date	: 17.4.19
-- Description	: Tidak Boleh Save Reservation jika tidak ada Setup
-- =============================================
exec SD_PSaveReservation '07', '25', '21', '02A-07-XXX-00010', '10', 'LC70LE735', '1001', 1, '20231025'
select * from SAP_TrxSOSTO order by tglkirim1 desc
ALTER PROCEDURE [dbo].[SD_PSaveReservation]
	@KodeStore		VARCHAR(5),
	@KodeStoreStock	VARCHAR(5),
	@KodeStoreKirim	VARCHAR(5),
	@NoSO			VARCHAR(50),
	@Itm_Number		INT,
	@KodeBarang		VARCHAR(50),
	@KodeGudang		VARCHAR(5),
	@Jumlah			INT,
	@Tanggal		DATETIME
AS
BEGIN
	DECLARE @StatusSTO			INT,
			@ShipPointAutoSTO1	VARCHAR(5)

	SELECT *
	FROM SAP_SetupShippingPoint
	WHERE KodeStore='07'
		AND ShipPointAutoSTO IS NOT NULL
		AND ShipPointAutoSTO != ''

	SELECT *
	FROM SAP_SetupStoreSOSTO
	WHERE KodeStoreSO='07'
		AND KodeStoreStock='25'
		AND KodeStoreKirim='21'
	
	IF (@StatusSTO=1)
		INSERT INTO [Hartono].[dbo].[SAP_TrxSOSTO] (
			[NoSO]
			,[Itm_Number]
			,[KodeBarang]
			,[KodeGudang]
			,[Jumlah]
			,[SiteAsal1]
			,[SlocAsal1]
			,[SiteTujuan1]
			,[SlocTujuan1]
			,[TglKirim1]
			,[ShipPoint1]
		) VALUES (
			@NoSO
			,@Itm_Number
			,@KodeBarang
			,@KodeGudang
			,@Jumlah
			,@KodeStoreStock
			,@KodeGudang
			,@KodeStoreKirim
			,7000
			,@Tanggal
			,@ShipPointAutoSTO1
		)
END