/****** Script for SelectTopNRows command from SSMS  ******/
SELECT TOP 1000 [MC]
      ,[Description]
      ,[PurchGroup]
  FROM [Hartono].[dbo].[SAP_ConfigMerchandiseCategory]
  where description = 'SET PRODUCT' or description = 'GIFT' or description like  '%DEMO%'
  
  
select * from pr_masterpromo where kodepromo='100135332-28'
select * from pr_masterpromo where kodepromo='100135332-27'

select * from dbo.t_SAP_PromoServToMyHartonoPotHarga where kodepromo in ('100135332-28', '100135332-27')
select * from dbo.t_SAP_PromoServToMyHartonoPotHarga_Batch where request like '%100135332-28%'
select * from dbo.t_SAP_PromoServToMyHartonoPotHarga_Batch where request like '%100135332-27%'



select top 1 * from t_SAP_PromoServToMyHartonoPotHarga_Batch order by responsetime desc
select top 1 * from t_SAP_PromoServToMyHartonoFree_Batch order by responsetime desc
select top 1 * from s_SAP_PricePOStoMyHartono order by respdate desc
