--update MasterParameter set nilai='03/06/2022' where Nama='TanggalUpdateMember'
select * from MasterParameter where Nama='TanggalUpdateMember'
--update MasterParameter set nilai='1' where Nama='VersiUpdateMember'
select * from MasterParameter where Nama='VersiUpdateMember'
