USE [Hartono]
GO
/****** Object:  StoredProcedure [dbo].[WEB_PGetShippingPointPriority]    Script Date: 10/25/2023 14:13:09 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Created By	: Soni Gunawan
-- Created Date	: 19.10.23
-- =============================================
ALTER PROCEDURE [dbo].[WEB_PGetShippingPointPriority]
	@KodeKotaPengiriman VARCHAR(50),
	@SiteStock			varchar(50)
AS
BEGIN
	SELECT *
	FROM WEB_MasterSlocPriority
	WHERE KotaPengiriman = 'K012'
		AND SiteStock=@SiteStock
END