USE [Hartono]
GO
/****** Object:  StoredProcedure [dbo].[sap_PgetPlant]    Script Date: 10/25/2023 14:07:45 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO



ALTER PROCEDURE [dbo].[sap_PgetPlant]
	@kodestore		varchar(4),
	@kodebarang		varchar(50)
AS

--if exists(select * from masterbaranginsurance where kodebarang= @kodebarang)
--begin
--	select SALES_OFF from masterstore 
--where kodestore = '00'
--end
--else
if exists(select * from masterjenispemasangandetail where kodebarang= 'transport_he')
begin
	select SALES_OFF from masterstore 
	where kodestore = '00'
end
else
--SELECT COALESCE( (select SALES_OFF from masterstore 
--where kodestore = @kodestore),'0')

select * from masterstore where kodestore = '25'






