USE [Hartono]
GO
/****** Object:  StoredProcedure [dbo].[MyH_PGetPromoPotHargaToMyHartonoMultiStoreRealTime2]    Script Date: 10/17/2023 16:47:44 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- =============================================
-- Created By	: Ferry Hartono
-- Created Date	: 10.10.23
-- =============================================

-- MyH_PGetPromoPotHargaToMyHartonoMultiStoreRealTime2 'HE', '100110289-15'
-- select * from PR_MasterPromo where KodePromo='100110289-15'

ALTER PROCEDURE [dbo].[MyH_PGetPromoPotHargaToMyHartonoMultiStoreRealTime2]
	@jenis		varchar(50) ='HE',
	@KodePromo	varchar(50) = ''
AS
BEGIN
	set dateformat dmy;
	SET NOCOUNT ON;
	
	select distinct pr.KodePromo, pr.NamaPromo, pr.TanggalAwal, pr.TanggalAkhir, pr.KuotaPromo, pr.MemberOnly, pr.Status,
		(case when @jenis='HM' then a.OLD_MAT_NO+'-[HM]' else a.OLD_MAT_NO end) KodeBarangUtama, QtyBarangUtama,
		pr.PotonganVPR, pr.JenisNilai, pr.Monday, pr.Tuesday, pr.Wednesday, pr.Thursday,
		pr.Friday, pr.Saturday, pr.Sunday, pr.LimitByCustomer, LongDesc1, LongDesc2, LongDesc3, LongDesc4, LongDesc5
	from
		SAP_ARTICLE a
		inner join (
			select distinct p.KodePromo, p.NamaPromo,
				convert(varchar(25), p.TanggalAwal, 120) TanggalAwal, convert(varchar(25), p.TanggalAkhir, 120) TanggalAkhir,
				p.JumlahPromo KuotaPromo, p.MemberOnly,  p.Status, pbu.KodeBarang KodeBarangUtama, pbu.Jumlah QtyBarangUtama,
				pph.Jumlah PotonganVPR, pph.JenisNilai, p.Monday, p.Tuesday, p.Wednesday, p.Thursday, p.Friday,
				p.Saturday, p.Sunday, p.LimitByCustomer, LongDesc1, LongDesc2, LongDesc3, LongDesc4, LongDesc5
			from 
				PR_MasterPromo p,
				PR_MasterPromoDetailPotonganHarga pph,
				PR_MasterPromoDetailBarangUtama pbu
			where (p.KodePromo NOT IN (SELECT KodePromo FROM dbo.PR_MasterPromoDetailBarangFree 
						WHERE (JenisNilai = 'IDR') OR ((JenisNilai = '%') AND (PotonganVPR <> 100))))
				and p.KodePromo=pbu.KodePromo
				and p.CustType!='ZC03'
				and p.KodePromo=pph.KodePromo
				and isnull(p.Wednesday,'')=''
				and pbu.KodeBarang!=''
				and pbu.Jumlah=1
				and p.KodePromo NOT IN (SELECT KodePromo FROM t_SAP_PromoServToMyHartonoPotHarga WHERE KodePromo = '100110289-15' AND KodeBarang = pbu.KodeBarang AND Status = p.Status)
				and p.KodePromo LIKE '%'+@KodePromo+'%'
				and GETDATE()>=p.TanggalAwal
				and DATEADD(dd, -1, GETDATE())<=p.TanggalAkhir
		) pr on a.OLD_MAT_NO=pr.KodeBarangUtama
	where 
		a.Article_Type not in ('ZGIF','ZPAY','ZSET','ZSTC')
		and a.material not in (select material from SAP_ARTICLE 
								where Article_Type='DIEN' 
									and Pur_Group in ('M16', 'N01', 'N02', 'N03', 'N04'))
		and a.DISCNTIN_IDC=0
		and a.MATERIAL not in (select distinct Article from SAP_ArticleHistory where FieldName='MSTAE' and NewValue!='')
END

