USE [Hartono]
GO
/****** Object:  StoredProcedure [dbo].[MM_PInsertReservation]    Script Date: 10/25/2023 17:10:03 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author		: Soni Gunawan
-- Create date	: 19.06.15
-- Description	: 
-- =============================================
select * from SAP_BAPI_ReservationHeaderItem order by req_date desc
ALTER PROCEDURE [dbo].[MM_PInsertReservation]
	@NoSOSAP		varchar(50),
	@ItmNumber		int,
	@KodeBarang		varchar(50),
	@KodeStoreDepo	varchar(5),
	@KodeGudang	varchar(5),
	@Jumlah			int,
	@Tanggal		datetime
AS
BEGIN
	if (not exists(select * from SAP_BAPI_ReservationHeaderItem where sales_ord=@NoSOSAP AND S_ORD_ITEM=@ItmNumber))
		INSERT INTO [Hartono].[dbo].[SAP_BAPI_ReservationHeaderItem]
			   ([MOVE_TYPE]
			   ,[SALES_ORD]
			   ,[S_ORD_ITEM]
			   ,[MATERIAL]
			   ,[PLANT]
			   ,[STGE_LOC]
			   ,[ENTRY_QNT]
			   ,[GR_RCPT]
			   ,[MOVEMENT]
			   ,[GL_ACCOUNT]
			   ,[REQ_DATE])
		 VALUES (
			'921',
			@NoSOSAP,
			@ItmNumber,
			@KodeBarang,
			@KodeStoreDepo,
			@KodeGudang,
			@Jumlah,
			'',
			'X',
			'1079900',
			@Tanggal
		 )
END
