	SELECT TOP 1 ms.KodeStore
    FROM 
        SAP_Transportation_Price_ZTRP ac, 
        SAP_ConfigRouteDetermination rd, 
        masterstore ms
    WHERE 
        ac.Route IN( SELECT distinct Route
						FROM SAP_ConfigRouteDetermination a, MasterStore b
						WHERE a.DepartureZone = b.TZone
						AND a.DestinationZone = 'Z120000076') 
        AND ac.vfrom <= GETDATE () 
        AND ac.vto >= GETDATE() 
        AND ac.werks = (SELECT ISNULL((SELECT Sales_Off FROM MasterStore 
										WHERE KodeStore IN (SELECT Nilai FROM MasterParameter WHERE Nama ='KodeStore')), ''))
        AND ac.matnr = 'TRANSPORT_HE' -- Penyerahan menggunakan HE (01 = TRANSPORT_HE, 04 = TRANSPORT_TUKANG)
        AND ac.route = rd.route
        AND rd.departurezone = ms.tzone
        AND ms.KodeStore IN (SELECT KodeStore FROM SetupQuotaKirimStore WHERE Quota > 0 and KodeSession = '01') 
        AND ms.KodeStore <> '22'
        ORDER BY priceid DESC


select * from MasterStore where KodeStore='21'